# node_modules/
# .config/mpv/watch_later
# **/.DS_Store
# .config/Wondershare/
# .config/coc/
# .config/thefuck/
#.config/deluge/
# .config/raycast/
# .config/ytfzf/
# *.DS_Store
# node_modules
/* 

!.config/nvim
!.config/htop
!.config/lf
!.config/mpv
!.config/neofetch
!.config/nvim
!.config/screenshots
!.config/sketchybar
!.config/skhd
!.gitignore
!.zshrc
!.yabairc
!.gitignore
!.tmux/
!.tmux.conf
!README.md
!Brewfile

.tmux/plugins
