.config/Wondershare/
.config/coc/
.config/thefuck/
.config/deluge/
.config/raycast/
.config/ytfzf/
.config/spicetify/
.config/cava
.config/fish
.config/flipperdevices.com
.conifg/gtk-*
.config/iterm2
.config/jgit
.config/karabiner/automatic_backups
.config/musikcube
.config/raycast
.config/rstudio
.config/safari
.config/spicetify
.config/thefuck
.config/Wondershare
.config/xonsh
.config/ytmdl
.config/mpv/watch_later
*.DS_Store
*.log
.stowignore
